{{define "info"}}
{{template "header" "Метаданные"}}
<h1>Метаданные</h1>
<dl class="meta">
	<dt>Ссылка</dt><dd><a class="mono" href="{{.Url}}">{{.Id}}</a></dd>
	<dt>Открытий разрешено</dt><dd>{{.MaxClicks}}</dd>
	<dt>Уже открыта</dt><dd>{{.Clicks}}</dd>
	<dt>Создана</dt><dd>{{.DateAdded}}</dd>
	<dt>Кем создана</dt><dd>{{.AuthToken}}</dd>
</dl>
{{template "footer"}}
{{end}}
